/* Make sure pages with little content still nicely fill the screen */
html {
	height: 100%;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 100%;
	margin: 0;
	padding: 0;
}
/* Set height of top navigation bar */
body #header>nav {
	height: 51px;
}
/* Set height of left logo link */
body #logo-link {
	height: 51px;
	padding: 5px 10px;
}
/* Define logo link image */
body #logo-link span {
	background-image: url("/img/logo.png");
	background-size: 148px 37px;
	width: 148px;
}

.menu-link li {
	height: 51px;
	padding: 0px;
}

.menu-link a {
	height: 25px;
	font-size: 18px;
}


#page {
	height: 100%;
	min-width: 1010px;
}

#wrapper {
	height: auto;
	margin-bottom: -140px;
	min-height: 100%;
	overflow: hidden;
}

#content {
	margin: 0 auto;
	min-height: 100%;
	padding: 0 0 140px;
	width: 980px;
}
.aui-header {
	clear: inherit;
	float: inherit;
}

.aui-header-inner {
	margin: 0 auto;
	width: 980px;
}

.aui-header .aui-header-logo a {
	margin-right: 0;
}

.avatar32 {
	padding: 5px 0;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	line-height: 1.25;
	margin: 20px 0 10px;
	padding: 0;
}

h2,section h1 {
	font-size: 20px;
	line-height: 1.5;
	margin: 20px 0 0;
}

body.homepage #content {
	width: auto;
}

/* normal text is dark gray */
.plain-content {
	color: #404040;
}
/* headers are dark blue */
.plain-content h1,.plain-content h2,.plain-content h3,.plain-content h4 {
	color: #205081;
}

/* home page has a blue background */
body.homepage {
	background-attachment: fixed;
	background-color: #2D67A3;
	background-image: linear-gradient(to bottom, #3270B0, #26598F);
	background-repeat: repeat-x;
}

body.homepage #wrapper {
	margin-bottom: -160px;
}

/* stay away from the header */
#homepage .intro {
	margin: 0 auto;
	padding-top: 45px;
}

#homepage .intro h1 {
	color: #FFFFFF;
	font-family: 'proxima-nova', sans-serif;
	font-size: 60px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 1.1;
	margin: 20px 0 40px;
	text-align: center;
	text-shadow: 0 2px 2px #333333;
}

#homepage .intro .feature-list {
	font-size: 16px;
	list-style: none outside none;
	margin-bottom: 50px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

#homepage .intro .feature-list li {
	color: #FFFFFF;
	display: inline;
	float: none;
	font-family: 'proxima-nova', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #333333;
}

/* Display the + signs between the homepage entries */
#homepage .intro .feature-list li:nth-child(n+2):before {
	padding-left: 5px;
	content: " + ";
}

body.homepage #footer {
	background-color: rgba(0, 0, 0, 0);
	border-top: medium none;
	padding-top: 40px;
}

#footer {
	-moz-box-sizing: border-box;
	background-color: #F5F5F5;
	border-top: 1px solid #CCCCCC;
	height: 140px;
	padding-top: 20px;
	position: relative;
}

body.homepage #footer .footer-body {
	margin: 0 auto;
	padding: 0;
}

#footer .footer-body {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: 0;
}

body.homepage #footer .footer-body a,body.homepage #footer .footer-body>ul>li:after
	{
	color: #FFFFFF;
}

#features {
}

#features {
	margin: 20px 0;
	padding: 0 10px;
}

#features h1 {
	font-size: 40px;
	margin: 40px auto;
	width: 960px;
}

#features .feature-list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#features .feature-item:first-child {
	border-top: medium none;
	padding-top: 20px;
}

#features .feature-item {
	border-top: 1px solid #CCCCCC;
	padding: 30px 0;
}

#features .feature-text {
	display: block;
}

#features .feature-image {
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	float: left;
	height: 250px;
	margin-right: 30px;
	overflow: hidden;
	width: 450px;
}

#exception-details {
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	margin-top: 30px;
	padding: 5px;
	width: 100%;
}
#exception-text {
	color: red;
	font-weight: bold;
}
#exception-trace {
	font-size: 11px;
	line-height: 3px;
	padding: 10px;
}

#topics td
{
padding-top:3px;
padding-bottom:3px;
}

#topics .specialty
{
font-size:17px;
}

.course-link {
	background-image: url("/img/course.jpg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	display: block;
    text-indent: 20px;
}
.workshop-link {
	background-image: url("/img/workshop.jpg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	display: block;
    text-indent: 20px;
}
.exam-link {
	background-image: url("/img/exam.jpg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	display: block;
    text-indent: 20px;
}
.pad10 {
	padding-left: 10px;
}
div.col75
{
	float:left; 
	margin:0; 
	width:75%; 
} 
div.col25
{
	float:left; 
	margin:0; 
	width:25%; 
} 
div.launch-box {
	border-style:solid;
	border-width:1px;
	margin-top: 15px; 
	margin-left: 20px; 
	padding: 5px; 
	height: 270px;
}
div.countdown {
	border-style:solid;
	border-width:1px;
	float: right; 
	padding: 2px; 
}
.question-title {
    padding: 3px;	
}
.question-content {
    margin-top: 5px;	
    margin-bottom: 5px;
    padding: 5px;	
}
.question-content a {
	text-decoration:underline;
	color: blue;
}
.question-content > input {
    margin-top: 10px;	
    margin-bottom: 5px;
}
.question-description {
    padding: 10px;	
	background-color:lightblue;
}
.question-answers {
    margin-top: 15px;	
    padding: 10px;	
	background-color:lightgray;
}
.question-answer-first {
    padding: 10px;	
}
.question-answer {
	border-style:dotted none none none;
	border-width:1px;
    margin-top: 5px;	
    padding: 10px;
}
.question-possible-answer {
    padding: 3px;
}
.question-feedback {
    float: right;
}
.answer-placeholder {
	width: 30px;
	float: left;
}
.correct-placeholder {
	width: 30px;
	float: left;
}
.answer-text-placeholder {
	float: left;
}